button {
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
  background-color: rgb(82, 140, 247)
}

button:hover {
  transform: scale(1.1);
}

button:disabled {
  transform: scale(1);
  background-color: #353545;
  cursor: not-allowed;
}