button {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #178f3b;
  color: #eee;
  transition: all .2s;
}

button:disabled {
  background-color: #222;
  filter: opacity(1) !important;
  cursor: not-allowed;
}

button:hover {
  filter: opacity(.9);
}