@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* custom scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c7c7c7; 
  background: #e7e6e6;
}
 
::-webkit-scrollbar-thumb {
  background: #252535;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #353545; 
}