#header {
  background-color: #252530;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

#title {
  color: #eee;
}

#nav {
  display: flex;
  border: 2px solid rgb(165, 160, 160);
  border-radius: 5px;
  gap: 10px;
  padding: 5px;
}